.main-layout {
  display: flex; min-height: 100vh;
  &__content {
    flex: 1; margin-left: var(--sidebar-w);
    padding: 28px 30px; max-width: calc(100vw - var(--sidebar-w));
    overflow-x: hidden;
  }
}
